.main-container-tech {
	max-width: 100%;
	min-width: 340px;
	max-height: 100%;
	min-height: 100vh;
	background-size: cover;
}

.content-container-tech {
	display: flex;
	animation: Fade 1.5s linear;
}

.text-section-tech h3,
.subheader-tech {
	text-transform: uppercase;
}

.subheader-tech {
	color: var(--color-light-blue);
	letter-spacing: 2.35px;
}

.btn-section-tech {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn {
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid var(--color-nav);
	text-align: center;
	margin: 0.7rem;
	font-family: var(--heading-font);
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.btn-active {
	color: var(--color-black);
	background-color: var(--color-white);
}

.btn:hover {
	border: 1px solid var(--color-white);
	transition: border 0.5s ease-in;
}
/*
########################## MOBILE ##########################
*/
@media only screen and (max-width: 640px) {
	.main-container-tech {
		background-image: url('../../assets/technology/background-technology-mobile.jpg');
	}

	.content-container-tech {
		flex-direction: column;
		padding-top: 20%;
		align-items: center;
	}

	.title-section-tech {
		margin-bottom: 6%;
	}

	.text-section-tech {
		text-align: center;
	}

	.text-section-tech h3 {
		font-size: 1.5rem;
	}

	.tech-description {
		padding: 1rem 2rem;
		line-height: 1.9rem;
	}

	.btn {
		width: 3rem;
		height: 3rem;
	}

	.btn-section-tech {
		height: 3.2rem;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}

	.tec-image {
		width: 100%;
	}
}
/*
######################### TABLET ##########################
*/
@media only screen and (min-width: 641px) and (max-width: 1007px) {
	.main-container-tech {
		background-image: url('../../assets/technology/background-technology-tablet.jpg');
	}

	.content-container-tech {
		flex-direction: column;
	}

	.tec-image {
		width: 100%;
	}

	.title-section-tech {
		margin-top: 4%;
		margin-bottom: 4%;
		margin-left: 5%;
	}

	.text-section-tech {
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}

	.btn-section-tech {
		height: 3.2rem;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.tec-image {
		height: 20rem;
	}

	.text-section-tech {
		width: 65%;
	}
}
/*
########################## DESKTOP ##########################
*/
@media only screen and (min-width: 1008px) {
	.main-container-tech {
		background-image: url('../../assets/technology/background-technology-desktop.jpg');
	}

	.content-container-tech {
		flex-direction: column;
		width: 50%;
		height: 40vh;
		padding-left: 10%;
		margin-top: 7%;
	}

	.btn-section-tech {
		position: absolute;
		flex-direction: column;
		width: 5rem;
		top: 50%;
	}

	.text-section-tech {
		margin-top: 20%;
	}

	.text-section-tech h3 {
		margin-left: 20%;
	}

	.tech-description {
		font-size: 1.1rem;
	}

	.image-section-tech {
		position: absolute;
		bottom: 7%;
		right: 0;
	}
}
